$entries-box-width: 200px;
$entries-box-height: 200px;

.hide-entries{
  display: none;
}

.show-entries{
  display: block;
  font-size: 15px;
  position: absolute;
  bottom: 1px;
  left: 20px;
  width: $entries-box-width;
  height: $entries-box-height;
  background: #f9f9f9;
  border-left: 1px solid #bbc;
  
  .entries-list {
    overflow-y: visible;
    overflow-x: hidden;
    cursor: pointer;
    max-height: 170px;
    
    .entries-item {
      padding: 5px;
    }

    .selected-item {
      background : cadetblue;
      color: white;
    }
  }

  
}

.memocon-view_headline {
  position: fixed;
  bottom: 5px;
  font-size: 40px;
  cursor: pointer;
}

.new-entry{
  position: fixed;
  bottom: 5px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}

.entries-header {
  width: $entries-box-width;
  height: 30px;
  background: #4a4a4a;
  color: white;
  padding: 5px 7px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  .entries-header-selected{
    float: left;
  }

  .entries-header-minimize{
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
}

.show-initial-header {
  position: fixed;
  bottom: 0px;
}

.hide-initial-header {
  display: none;
}