@font-face {
  font-family: 'memocon';
  src:  url('fonts/memocon.eot?jy10ew');
  src:  url('fonts/memocon.eot?jy10ew#iefix') format('embedded-opentype'),
    url('fonts/memocon.ttf?jy10ew') format('truetype'),
    url('fonts/memocon.woff?jy10ew') format('woff'),
    url('fonts/memocon.svg?jy10ew#memocon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="memocon-"], [class*=" memocon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'memocon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.memocon-add:before {
  content: "\e145";
}
.memocon-arrow_back:before {
  content: "\e5c4";
}
.memocon-arrow_forward:before {
  content: "\e5c8";
}
.memocon-navigate_before:before {
  content: "\e408";
}
.memocon-navigate_next:before {
  content: "\e409";
}
.memocon-close:before {
  content: "\e5cd";
}
.memocon-format_bold:before {
  content: "\e238";
}
.memocon-format_italic:before {
  content: "\e23f";
}
.memocon-format_list_bulleted:before {
  content: "\e241";
}
.memocon-format_quote:before {
  content: "\e244";
}
.memocon-format_underlined:before {
  content: "\e249";
}
.memocon-remove:before {
  content: "\e15b";
}
.memocon-view_headline:before {
  content: "\e8ee";
}
.memocon-zoom_out_map:before {
  content: "\e56b";
}
