.footer-to-diary {
  height: 60px;
  @include strip-properties();
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  .not-supported {
    font-family: $default-viewer-font-family;
    top: 18px;
    position: relative;
  }
}