/** ///TODO: Cleanup calendar css */
.auth-header{
  @include strip-properties();
  height: 45px;
  margin-bottom: $header-margin-bottom;
  .hide-header-menu {
    visibility: hidden;
  }

  .show-header-menu {
    visibility: visible;
  }

  .header-logo{
    float: left;
    margin-left: 20px; 
    img{
      height: 40px;
    }
  } 

  button.strip-button {
    margin: 0;
    font-size: 16pt;
    padding: 14px 11px;
    &.text-content {
      padding: 12px 11px;
    }
  }

  .calendar-wrapper{
    width: 30%;
    padding: 5px;
    color: $default-calendar-font-color;
    .weekdays{
      width: 100%;
      overflow: hidden;
      padding: 2px;
      border-top: 1px solid $default-calendar-font-color;
      border-bottom: 1px solid $default-calendar-font-color;
      div{
        position: relative;
        float: left;
        width: 14%;
        height: 14%;
        text-align: center;
        padding-top: 0.5em;
        font-size:0.8em;
      }
    } 

    .weekvalues{
      width: 100%;
      overflow: hidden;
      div{
        position: relative;
        float: left;
        width: 14%;
        height: 14%;
        text-align: center;
        padding: 0.6em;
        font-size: 0.8em;
      }

      .selected-date {
        background-color: #124680;
        color: white;
        border-radius: 50%;
      }
    }

    .calendar-value{
      text-align: center;
      padding: 10px;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .calendar-wrapper-head{
    float: left;

    .wrapper{
      z-index: 1000;
      position: absolute;
      width: 85%;
      left: 7%;
      top: 45px;
      background: $default-calendar-back-color;
      min-width: 740px;
      overflow: auto;
      padding: 10px;

      .memocon-navigate_before {
        float: left;
        padding-top: 135px;
        height: 276px;
        padding-left: 10px;
        width: 5%;
        font-size: 23pt;
        font-weight: bold;
      }

      .memocon-navigate_next {
        float: left;
        padding-top: 135px;
        height: 276px;
        width:5%;
        font-size: 23pt;
        font-weight: bold;
      }
    }

    .hide-wrapper{
      display: none;
    }

    @media (max-width: 1151px) {
      .wrapper {
        width: 90%;
      }
    }
  }
}

.dropdown{
  position: relative;

  .dropdown-menu{
    position: static;
    display: block;
    margin-bottom: .25rem;
    clear: left;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;

    .dropdown-item {
      display: block;
      width: 100%;
      padding: 3px 1.5rem;
      clear: both;
      font-weight: 400;
      color: #373a3c;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
    }
  }
} 

.hide-header-menu {
  visibility: hidden;
}

.show-header-menu {
  position: absolute;
  top:45px;
  z-index:1;
  right: 0px;
  
  button.dropdown-button {
    padding: 5px 35px;
    border: 1px solid gray;
    min-width: 7.1em;
  }
}