.incompatible-browser-notice {
  width: 22.5em;
  height: 15.75em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-weight: 300;
  color: rgb(56, 56, 56);
  font-size: 21px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.logo {
  font-family: 'Satisfy', cursive;
  font-size: 72pt;
  color: rgb(255, 102, 94);
  z-index: 200;
  position: fixed;
  padding: 0 24pt;
  &:after {
    content: "Memoirable";
  }
}