@import "susy";
@import "bourbon/bourbon";
/* https://github.com/negomi/sassy-inputs */
@import "sassy-inputs/main";
@import "_fonts";
@import "_mixins";

@import "normalize/import-now";

@import "_variables";

* {
  outline: none !important;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

input[type=submit],
input[type=button],
button {
  @include sassy-button;
  &.strip-button {
    margin: 12px 0;
    background-color: $default-strip-color;
    padding: 8px 11px;
    @include strip-properties();
    -webkit-transition: background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
    transition: background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
    &:hover, &:focus {
      box-shadow: none;
      background-color: rgb(56, 56, 56);
    }
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}


@import "_logo";
@import "_editor";
@import "_footer";
@import "_header";
@import "_entries";
@import "_home";

body{
  font-family: $default-font-family;
  min-width: 360.25px;
  font-size: .9em;
  color: rgb(51,51,51);
  min-height: 520px;
  word-break: break-word;
  overflow-x: hidden;
}

.row {
  @include span(8);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-float {
  clear: both;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
  z-index: 100;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: block;
  background-color: rgb(85,85,85);
}

.auth-modal {
  z-index: 200;
  width: 25%;
  position: relative;
  top: 45vh;
  transform: translateY(-50%);
  margin:0 auto;
  text-align: center;
  padding: 50px;
  @include item-background;
  p {
    font-size: 16pt;
    padding: 4px 0px 20px;
    margin: 0px;
    color: rgb(128, 128, 128);
  }
  .button-groups {
    padding: 15px;
    @include set-border(1px 0, solid, rgb(211, 211, 211));
    button {
      margin: 0;
      font-size: 4em;
    }
  }
}