@import "susy";
@import "bourbon/bourbon";
/* https://github.com/negomi/sassy-inputs */
@import "sassy-inputs/main";
@import "_fonts";
@import "_mixins";

@import "normalize/import-now";


$susy: (
  columns: 8,
  gutters: .05,
  container: 360px,
  global-box-sizing: border-box
);

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: Arimo,"Helvetica Neue",Helvetica,Arial,Verdana,"Trebuchet MS";
  min-width: 360.25px;
  font-size: .9em;
  line-height: 1.5em;
  color: rgb(51,51,51);
  min-height: 520px;
  word-break: break-word;
}

input[type=submit],
input[type=button],
button {
  @include sassy-button;
}

.row {
  @include span(8);
  .markdown-left{
    @include span(4);
    border-right: 1px solid grey;
    textarea.mardown-textarea{
      @include span(8);
      height: 100vh;
      resize: none;
      overflow: auto;
      border: none;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .markdown-right{
    @include span(4);
    padding-left: 20px;
    margin-right: 0px;
    .markdown-output-wrapper{
      @include span(8);
      height: 100vh;
      overflow: auto;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
  z-index: 100;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: block;
  background-color: rgb(85,85,85);
}

.auth-modal {
  z-index: 200;
  width: 25%;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  margin:0 auto;
  text-align: center;
  padding: 50px;
  @include item-background;
  p {
    font-size: 16pt;
    padding: 4px 0px 20px;
    margin: 0px;
    color: rgb(128, 128, 128);
  }
  .button-groups {
    padding: 15px;
    @include set-border(1px 0, solid, rgb(211, 211, 211));
    button {
      margin: 0;
      font-size: 4em;
    }
  }
}
