/* https://github.com/negomi/sassy-inputs */
@font-face {
  font-family: 'memocon';
  src: url("fonts/memocon.eot?jy10ew");
  src: url("fonts/memocon.eot?jy10ew#iefix") format("embedded-opentype"), url("fonts/memocon.ttf?jy10ew") format("truetype"), url("fonts/memocon.woff?jy10ew") format("woff"), url("fonts/memocon.svg?jy10ew#memocon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="memocon-"], [class*=" memocon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'memocon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.memocon-add:before {
  content: "\e145";
}

.memocon-arrow_back:before {
  content: "\e5c4";
}

.memocon-arrow_forward:before {
  content: "\e5c8";
}

.memocon-navigate_before:before {
  content: "\e408";
}

.memocon-navigate_next:before {
  content: "\e409";
}

.memocon-close:before {
  content: "\e5cd";
}

.memocon-format_bold:before {
  content: "\e238";
}

.memocon-format_italic:before {
  content: "\e23f";
}

.memocon-format_list_bulleted:before {
  content: "\e241";
}

.memocon-format_quote:before {
  content: "\e244";
}

.memocon-format_underlined:before {
  content: "\e249";
}

.memocon-remove:before {
  content: "\e15b";
}

.memocon-view_headline:before {
  content: "\e8ee";
}

.memocon-zoom_out_map:before {
  content: "\e56b";
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  outline: none !important;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=submit],
input[type=button],
button {
  box-sizing: border-box;
  cursor: pointer;
  min-height: 2.4375rem;
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.625rem;
  font-family: inherit;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.1875rem;
  outline: none;
  text-decoration: none;
  background-color: coral;
}
input[type=submit]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  /* Removes dotted line in Firefox */
}
input[type=submit]:hover, input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:focus,
button:hover,
button:focus {
  box-shadow: 0 0.125rem 0 #777;
}
input[type=submit]:active,
input[type=button]:active,
button:active {
  box-shadow: inset 0 0.125rem 0 #ff5a1d;
}
input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled {
  color: #a2a2a2;
  background-color: #eee;
  cursor: not-allowed;
}
input[type=submit]:disabled:hover, input[type=submit]:disabled:focus,
input[type=button]:disabled:hover,
input[type=button]:disabled:focus,
button:disabled:hover,
button:disabled:focus {
  box-shadow: none;
}
input[type=submit].strip-button,
input[type=button].strip-button,
button.strip-button {
  margin: 12px 0;
  background-color: #4a4a4a;
  padding: 8px 11px;
  color: #dddddd;
  font-size: 14pt;
  font-weight: 300;
  background-color: #4a4a4a;
  -webkit-transition: background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
  transition: background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
}
input[type=submit].strip-button:hover, input[type=submit].strip-button:focus,
input[type=button].strip-button:hover,
input[type=button].strip-button:focus,
button.strip-button:hover,
button.strip-button:focus {
  box-shadow: none;
  background-color: #383838;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.incompatible-browser-notice {
  width: 22.5em;
  height: 15.75em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-weight: 300;
  color: #383838;
  font-size: 21px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.logo {
  font-family: 'Satisfy', cursive;
  font-size: 72pt;
  color: #ff665e;
  z-index: 200;
  position: fixed;
  padding: 0 24pt;
}
.logo:after {
  content: "Memoirable";
}

#editor {
  line-height: 1.5em;
  height: 100%;
}

.ace-tm {
  color: #545454 !important;
}

.ace-tm .ace_cursor {
  color: #545454 !important;
}

.markdown {
  width: 49.7006%;
  float: left;
  margin-right: 0.5988%;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  top: 45px;
  color: #545454;
  display: inline-block;
  background-color: #fcfcfc;
}

.markdown-left {
  font-size: 18pt;
  background-color: #fcfcfc;
}
.markdown-left textarea.mardown-textarea {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  resize: none;
  border: none;
}

.markdown-right {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9;
  left: 49.98%;
  overflow-y: scroll;
  font-size: 18pt;
}
.markdown-right .markdown-output-wrapper {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
}
.markdown-right h1, .markdown-right h2, .markdown-right h3, .markdown-right h4, .markdown-right h5, .markdown-right h6 {
  font-weight: 300;
}

.footer-to-diary {
  height: 60px;
  color: #dddddd;
  font-size: 14pt;
  font-weight: 300;
  background-color: #4a4a4a;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.footer-to-diary .not-supported {
  font-family: "Open Sans", sans-serif;
  top: 18px;
  position: relative;
}

/** ///TODO: Cleanup calendar css */
.auth-header {
  color: #dddddd;
  font-size: 14pt;
  font-weight: 300;
  background-color: #4a4a4a;
  height: 45px;
  margin-bottom: 15px;
}
.auth-header .hide-header-menu {
  visibility: hidden;
}
.auth-header .show-header-menu {
  visibility: visible;
}
.auth-header .header-logo {
  float: left;
  margin-left: 20px;
}
.auth-header .header-logo img {
  height: 40px;
}
.auth-header button.strip-button {
  margin: 0;
  font-size: 16pt;
  padding: 14px 11px;
}
.auth-header button.strip-button.text-content {
  padding: 12px 11px;
}
.auth-header .calendar-wrapper {
  width: 30%;
  padding: 5px;
  color: #394275;
}
.auth-header .calendar-wrapper .weekdays {
  width: 100%;
  overflow: hidden;
  padding: 2px;
  border-top: 1px solid #394275;
  border-bottom: 1px solid #394275;
}
.auth-header .calendar-wrapper .weekdays div {
  position: relative;
  float: left;
  width: 14%;
  height: 14%;
  text-align: center;
  padding-top: 0.5em;
  font-size: 0.8em;
}
.auth-header .calendar-wrapper .weekvalues {
  width: 100%;
  overflow: hidden;
}
.auth-header .calendar-wrapper .weekvalues div {
  position: relative;
  float: left;
  width: 14%;
  height: 14%;
  text-align: center;
  padding: 0.6em;
  font-size: 0.8em;
}
.auth-header .calendar-wrapper .weekvalues .selected-date {
  background-color: #124680;
  color: white;
  border-radius: 50%;
}
.auth-header .calendar-wrapper .calendar-value {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.auth-header .calendar-wrapper-head {
  float: left;
}
.auth-header .calendar-wrapper-head .wrapper {
  z-index: 1000;
  position: absolute;
  width: 85%;
  left: 7%;
  top: 45px;
  background: #f7f7f7;
  min-width: 740px;
  overflow: auto;
  padding: 10px;
}
.auth-header .calendar-wrapper-head .wrapper .memocon-navigate_before {
  float: left;
  padding-top: 135px;
  height: 276px;
  padding-left: 10px;
  width: 5%;
  font-size: 23pt;
  font-weight: bold;
}
.auth-header .calendar-wrapper-head .wrapper .memocon-navigate_next {
  float: left;
  padding-top: 135px;
  height: 276px;
  width: 5%;
  font-size: 23pt;
  font-weight: bold;
}
.auth-header .calendar-wrapper-head .hide-wrapper {
  display: none;
}
@media (max-width: 1151px) {
  .auth-header .calendar-wrapper-head .wrapper {
    width: 90%;
  }
}

.hide-entries {
  display: none;
}

.show-entries {
  display: block;
  font-size: 15px;
  position: absolute;
  bottom: 1px;
  left: 70px;
  width: 200px;
  height: 200px;
  background: #f9f9f9;
  border-left: 1px solid #bbc;
}
.show-entries .entries-list {
  overflow-y: visible;
  overflow-x: hidden;
  cursor: pointer;
  max-height: 170px;
}
.show-entries .entries-list .entries-item {
  padding: 5px;
}
.show-entries .entries-list .selected-item {
  background: cadetblue;
  color: white;
}
.show-entries .entries-header {
  width: 200px;
  height: 30px;
  background: #4a4a4a;
  color: white;
  padding: 5px 7px;
  font-weight: bold;
  font-size: 15px;
}
.show-entries .entries-header .entries-header-selected {
  float: left;
}
.show-entries .entries-header .entries-header-close {
  float: right;
  cursor: pointer;
}

.memocon-view_headline {
  position: fixed;
  bottom: 5px;
  font-size: 40px;
  cursor: pointer;
}

.new-entry {
  position: fixed;
  bottom: 5px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}

[class^="dive-in-"], [class*=" dive-in-"] {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 680px;
}
[class^="dive-in-"] h1, [class*=" dive-in-"] h1 {
  float: right;
  font-size: 48px;
}

.dive-in-1 {
  background-image: url("./images/memories/first_adventure.jpg");
}
.dive-in-1 h1 {
  color: #ff2a04;
  margin: 323px 60px 0 0;
}

.dive-in-2 {
  background-image: url("./images/memories/first_day_with_someone.jpg");
}
.dive-in-2 h1 {
  color: #d6ff32;
  margin: 24px 30px 0 0;
}

.dive-in-3 {
  background-image: url("./images/memories/with_friends.jpg");
}
.dive-in-3 h1 {
  color: #3299ff;
  margin: 24px 30px 0 0;
}

.dive-in-4 {
  background-image: url("./images/memories/proposed.jpg");
}
.dive-in-4 h1 {
  color: #e732ff;
  margin: 24px 30px 0 0;
}

.dive-in-5 {
  background-image: url("./images/memories/marriage.jpg");
}
.dive-in-5 h1 {
  color: #ff324e;
  margin: 24px 30px 0 0;
}

.dive-in-6 {
  background-image: url("./images/memories/new_born.jpg");
}
.dive-in-6 h1 {
  color: #ffee32;
  margin: 24px 30px 0 0;
}

.dive-in-7 {
  background-image: url("./images/memories/let_all_be_written.jpg");
}
.dive-in-7 h1 {
  color: #866dff;
  margin: 24px 30px 0 0;
}
.dive-in-7 div.message {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #f9e435;
  height: 350px;
  width: 70%;
  top: 150px;
  position: absolute;
  left: 15%;
  padding: 5px 20px;
}
.dive-in-7 div.message p {
  line-height: 1.5em;
  font-size: 1.2em;
  letter-spacing: .05em;
}
.dive-in-7 div.message p span.message-logo {
  font-family: 'Satisfy', cursive;
  color: #ff665e;
  font-size: 1.2em;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 360.25px;
  font-size: .9em;
  color: #333333;
  min-height: 520px;
  word-break: break-word;
  overflow-x: hidden;
}

.row {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-float {
  clear: both;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
  z-index: 100;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: block;
  background-color: #555555;
}

.auth-modal {
  z-index: 200;
  width: 25%;
  position: relative;
  top: 45vh;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.auth-modal p {
  font-size: 16pt;
  padding: 4px 0px 20px;
  margin: 0px;
  color: gray;
}
.auth-modal .button-groups {
  padding: 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: lightgray;
}
.auth-modal .button-groups button {
  margin: 0;
  font-size: 4em;
}
